<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a href="" class="navbar-brand" style="max-width:7%"><img width="100%" src="../../assets/images/GIRLSDAYlogo.PNG"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="About">Pabellones</span></a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link"><span data-hover="Resume">Ponentes</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="Contact">Concurso</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="Home"><span data-hover="Contact">Registro</span></a>
                </li>
            </ul>

          
        </div>
    </div>
</nav>

<div class="divContenedor">
    <img class="imgBack" src="../../assets/images/Ponencias.jpg">
        <!--Aempresas-->
      
        <div style=" position: absolute; left: 19.4%; top: 10.5%; width: 61.2%; height: 61%; background-color: rgba(0, 0, 0, .0);"><a><iframe width="100%" height="100%" src="https://www.youtube.com/embed/YPjZubfc65o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a></div>       

    
</div>
