
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a href="" class="navbar-brand" style="max-width:7%"><img width="100%" src="../../assets/images/GIRLSDAYlogo.PNG"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="About">Pabellones</span></a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link"><span data-hover="Resume">Ponentes</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="Contact">Concurso</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="Home"><span data-hover="Contact">Registro</span></a>
                </li>
            </ul>

          
        </div>
    </div>
</nav>
<div class="divContenedor">
    <img class="imgBack" src="../../assets/images/Standconcurso.jpg">
        <!--Aempresas-->
        <!-- 1,2 -->
        <div style="position: absolute; left: 7.7%; top: 0.8%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/YVr2SYt4_v0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.6%; top: 5.4%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" rc="https://www.youtube.com/embed/E9K3qJsRXb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      

           <!-- 3,4 -->
        <div style="position: absolute; left: 7.7%; top: 8.1%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/ItFQW1lvaZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.6%; top: 12.6%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Qy7pJcaIVjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      

           <!-- 5,6 -->
        <div style="position: absolute; left: 7.7%; top: 15.4%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/wEV8py06pGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.7%; top: 19.3%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/VAcA413vD1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
           <!-- 7,8 -->
        <div style="position: absolute; left: 7.6%; top: 22.6%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/KCGPTs67xeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.8%; top: 26%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/5O2vt9TrCmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
           <!-- 9,10 -->
        <div style="position: absolute; left: 7.7%; top: 29.5%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%"  src="https://www.youtube.com/embed/LPWXTjscu30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.7%; top: 32.8%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/xUmWktWAWbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
    
           <!-- 11,12 -->   
        <div style="position: absolute; left: 7.6%; top: 36.2%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/qZ2tipqQqoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 55.6%; top: 39.3%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/uOC3BSpfudc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
   
           <!-- 13,14 -->
        <div style="position: absolute; left: 7.7%; top: 43.3%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/nydSBfWMHTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.8%; top: 46%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/dX0ZhJiUmPM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
        
        <!-- 15,16 -->   
        <div style="position: absolute; left: 7.6%; top: 50.2%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/98vXEWLImg0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.7%; top: 52.7%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/s3s-GQoQ4Pc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
   
        <!-- 17,18 -->
        <div style="position: absolute; left: 7.7%; top: 57.2%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Yz5G2YKCCIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.8%; top: 59.6%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/Cd-suClmGqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
        
                
        <!-- 19,20 -->   
        <div style="position: absolute; left: 7.6%; top: 64.4%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/kPBnHg_4eWg"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.5%; top: 66.8%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/WQeajhT0z8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
   
        <!-- 21,22 -->
        <div style="position: absolute; left: 7.7%; top: 71.6%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/bqk4DmvyvsM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.6%; top: 73.6%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/93GGVV2TI5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
        
        <!-- 23,24 -->
        <div style="position: absolute; left: 7.7%; top: 78.8%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/klHyeLgYzjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56%; top: 80.4%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%"  src="https://www.youtube.com/embed/YcB_EyGn0X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
                
        
                
        <!-- 25,26 -->
        <div style="position: absolute; left: 7.7%; top: 85.8%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/PSYJ8_R-6bw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        <div style="position: absolute; left: 56.2%; top: 87.6%; width: 40.8%; height: 5.6%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/REtQndP4-gY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      
        
                <!-- 27 -->
        <div style="position: absolute; left: 7.7%; top: 93%; width: 42%; height: 5.8%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/tycV3pMrrZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>      

        
        
        
        

</div>

<!-- <div>

    <embed src="../../assets/PDF/DOCUMENTOSTEAM-GIRLS.pdf" type="application/pdf" width="100%" height="600px" />
</div> -->
