body, html{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.imgBack{

    width: 100%; height: auto;
    overflow-y: hidden;
}


.divContenedor{
    position: relative;
    padding: 0px;
}


