body, html{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.imgBack{

    width: 100%; height: auto;
    overflow-y: hidden;
}


.divContenedor{
    position: relative;
    padding: 0px;

}


.navLink{
    color: rgba(0,0,0,0.5) !important;
    cursor: pointer;
}


.navLink:hover{

  
    color: rgba(255,100,0,1) !important;
    cursor: pointer;
}

