
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" style="max-width:7%"><img width="100%" src="../../assets/images/GIRLSDAYlogo.PNG"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a  class="nav-link"><span class="navLink" >Pabellones</span></a>
                </li>
           
                <li class="nav-item">
                    <a class="nav-link"><span  class="navLink" >Ponentes</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link"><span  class="navLink" >Concurso</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="Home"><span  class="navLink" >Registro</span></a>
                </li>
            </ul>

          
        </div>
    </div>
</nav>

<div class="divContenedor">
    <img class="imgBack" src="../../assets/images/backcamexa.jpg">
        <!--Aempresas-->
      
        <div style=" transform: rotate(6deg); position: absolute; left: 3.4%; top: 43.1%; width: 12.2%; height: 8.6%; background-color: rgba(0, 0, 0, .0);"><a href="alianza"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>       
        <div style=" transform: rotate(4deg); position: absolute; left: 3.2%; top: 52.3%; width: 12.4%; height: 9.8%; background-color: rgba(0, 0, 0, .0);"><a href="CONALEP"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" transform: rotate(1deg); position: absolute; left: 3%; top: 63.2%; width: 12.6%; height: 8.9%; background-color: rgba(0, 0, 0, .0);"><a href="CAMEXA" ><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>             
        <div style=" transform: rotate(-2.2deg); position: absolute; left: 3%; top: 73%; width: 12.4%; height: 9%; background-color: rgba(0, 0, 0, .0);"><a href="CECYTes" ><img alt="" src="../../assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        
        <div style=" transform: rotate(6deg); position: absolute; left: 16%; top: 45%; width: 10%; height: 8.6%; background-color: rgba(0, 0, 0, .0);"><a href="CCE"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>       
        <div style=" transform: rotate(2deg); position: absolute; left: 15.8%; top: 54%; width: 10%; height: 9%; background-color: rgba( 0, 0,0, .0);"><a href="CONOCER" ><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" position: absolute; left: 15.9%; top: 64.1%; width: 9.7%; height: 7.8%; background-color: rgba(00, 0, 0, .0);"><a href="/STEM"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" transform: rotate(-2deg); position: absolute; left: 15.6%; top: 72.6%; width: 9.9%; height: 8%; background-color: rgba(0, 0, 0, .0);"><a href="/Participantes"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        <div style=" transform: rotate(3deg); position: absolute; left: 26.1%; top: 47%; width: 8%; height: 7.2%; background-color: rgba( 0, 0,0 ,.0);"><a href="/SEMS"><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" transform: rotate(2.5deg); position: absolute; left: 26%; top: 55.4%; width: 8%; height: 8.5%; background-color: rgba( 0, 0,0 ,.0);"><a href="COPARMEX"><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" position: absolute; left: 25.8%; top: 64.7%; width: 8%; height: 7%; background-color: rgba(00, 0, 0, .0);"><a><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style=" transform: rotate(-1deg); position: absolute; left: 25.9%; top: 72.4%; width: 7.8%; height: 7.3%; background-color: rgba(0, 0, 0, .0);"><a><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        
        <!--Agenda-->
        <div style=" transform: rotate(-1deg); position: absolute; left: 51.2%; top: 57.3%; width: 48%; height: 32%; background-color: rgba(0, 0, 0, .0);"><a><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        
        
        <!--Baner de presentación-->

        <div style=" position: absolute; left: 54.8%; top: 8%; width: 16%; height: 8.8%; background-color: rgba(0, 0, 0, .0);"><a href="Home"><img alt="" src="../../assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <!--Plenaria-->
        <div style=" position: absolute; left: 43.8%; top: 25%; width: 28%; height: 23%; background-color: rgba(0, 0, 0, .0);"><a href="cine"><img alt="" src="../../assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        
        <!--Conversatorios-->
        <div style=" transform: rotate(2deg); position: absolute; left: 12.2%; top: 5.2%; width: 7.8%; height: 29%; background-color: rgba(0, 0, 0, .0);"><a href="C1"><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        <div style=" transform: rotate(2deg); position: absolute; left: 23%; top: 15%; width: 6.8%; height: 22%; background-color: rgba(0, 0, 0, .0);"><a href="C2"><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        <div style=" transform: rotate(2deg); position: absolute; left: 35%; top: 25%; width: 5.5%; height: 20%; background-color: rgba(0, 0, 0, .0);"><a href="C3"><img alt=""  style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        <!--Concurso-->
        <div style="position: absolute; left: 80%; top: 8%; width: 9.5%; height: 30%; background-color: rgba(00, 0, 0, .0);"><a href="Concurso"><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

        
</div>

<div>
    <img class="imgBack" src="../../assets/images/Footer.jpg">
</div>