<div class="container">

    <!-- Navigation Block -->
    <div class="bloc l-bloc" id="nav-bloc">
        <div class="container">
            <nav class="navbar row">
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#"><img src="/formulario-de-contacto//assets/images/grupopissa.png"></a> -->
                    
                </div>
                <a class="btn btn-outline-info text-info" routerLink="/Home">Salir</a>
                
            </nav>
        </div>
    </div>
    <!-- Navigation Block END -->

    <div class="jumbotron">
        <h1 class="d-lg-flex justify-content-center display-4 text-muted">Chicas Duales | R e p o r t e s</h1>
        <h2 class="d-lg-flex justify-content-center text-muted">Portal de reportes del registro de usuarios.</h2>
    </div>      

    <div class="jumbotron">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Fecha inicial / Fecha final: </span>
            </div>
            <input type="date" class="form-control border border-warning"  [(ngModel)]="DATE_RANGE.FechaInicial">
            <input type="date" class="form-control border border-warning" [(ngModel)]="DATE_RANGE.FechaFinal">
            <div class="input-group-append">
                <button type="button" class="btn btn-dark text-warning" (click)="getListByFecha()">Buscar</button>
              </div>
          </div>
                
    </div>


    <div>
        <button class="btn btn-dark text-warning float-right" (click)="descargarExcel()">Descargar Excel</button>
    </div>
    <br><br>    
    
    <div class="main">            
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Institución</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Nivel Educativo</th>
                    <th scope="col">Grado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of RegistroList">
                    <th scope="row">{{dataItem.ContactoId}}</th>
                    <td>{{dataItem.nombre}}</td>
                    <td>{{dataItem.apellidoPaterno}}</td>
                    <td>{{dataItem.apellidoMaterno}}</td>                    
                    <td>{{dataItem.carrera}}</td>
                    <td>{{dataItem.nombreInstitucion}}</td>
                    <td>{{dataItem.correo}}</td> 
                    <td>{{dataItem.nivelEducativo}}</td>
                    <td>{{dataItem.grado}}</td> 
                </tr>               
            </tbody>
        </table>
    </div>
       
    


</div>