<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a href="" class="navbar-brand" style="max-width:7%"><img width="100%" src="../../assets/images/GIRLSDAYlogo.PNG"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="About">Pabellones</span></a>
                </li>
          
                <li class="nav-item">
                    <a class="nav-link"><span data-hover="Resume">Ponentes</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link"><span data-hover="Contact">Concurso</span></a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="Home"><span data-hover="Contact">Registro</span></a>
                </li>
            </ul>

          
        </div>
    </div>
</nav>
<div class="divContenedor">
    <img class="imgBack" src="../../assets/images/StandCecytes.jpg">
        <!--Aempresas-->
      
        <!-- <div style="position: absolute; left: 4.2%; top: 4.8%; width: 31.6%; height: 32.4%; background-color: rgba(0, 0, 0, 1);"><video width="100%" height="100%" src="../../assets/video/conalep3.mp4" controls title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video></div>        

        <div style="position: absolute; left: 62.4%; top: 3%; width: 33%; height: 33%; background-color: rgba(0, 0, 0, 1);"><iframe width="560" height="315" src="https://www.youtube.com/embed/atYsiZek_nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>        

        <div style="position: absolute; left: 62.4%; top: 40%; width: 33%; height: 32.5%; background-color: rgba(0, 0, 0, 1);"><video width="100%" height="100%" src="../../assets/video/conalep.mp4" controls title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video></div>        

 
        <div style="position: absolute; left: 24.5%; top: 50.2%; width: 10.5%; height: 9.6%; background-color: rgba( 0, 0,0, 0);"><a href="mailto:algomez@conalep.edu.mx" ><img alt="" src="assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

         -->
         
         <div style="position: absolute; left: 60.4%; top: 14.6%; width: 37.6%; height: 37.6%; background-color: rgba(0, 0, 0, 1);"><video muted autoplay loop width="100%" height="100%" src="../../assets/video/CECYTEsGirlsday.mp4" controls title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video></div>   
         <div style="position: absolute; left: 4.5%; top: 5.5%; width: 37.6%; height: 37%; background-color: rgba(0, 0, 0, 1);"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/atYsiZek_nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>        

</div>
