
.fit-h-img{
    height: 100vh;
    width: 100%;
}

.minDiv{
    min-height: 100%;
}


.navLink{
    color: rgba(0,0,0,0.5) !important;
    cursor: pointer;
}


.navLink:hover{

  
    color: rgba(255,100,0,1) !important;
    cursor: pointer;
}

