<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
      <a href="" class="navbar-brand" style="max-width:7%"><img width="100%" src="../../assets/images/GIRLSDAYlogo.PNG"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a  class="nav-link"><span class="navLink" data-hover="About">Pabellones</span></a>
              </li>
     
              <li class="nav-item">
                  <a class="nav-link"><span class="navLink" data-hover="Resume">Ponentes</span></a>
              </li>
              <li class="nav-item">
                  <a  class="nav-link"><span class="navLink" data-hover="Contact">Concurso</span></a>
              </li>
              <li class="nav-item">
                  <a  class="nav-link" href="Home"><span style="color: red;" data-hover="Contact">Registro</span></a>
                </li>
          </ul>
     </div>
  </div>
</nav>

<div class="d-lg-flex half minDiv">
    <!-- <div class="bg order-1 order-md-2" style="background-image: url('/formulario-de-contacto/assets/images/bg_1.jpg');"></div> -->
    <div class="bg order1 order-md-2 minDiv">
        <div id="demo" class="carousel slide" data-ride="carousel">
            
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
                      
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <!-- <img class="fit-h-img" src="/formulario-de-contacto/assets/images/img.png" alt="img-1"> -->
                <img class="fit-h-img" width="100%" src="../../assets/images/flyer2.jpg" alt="img-1">
                <div class="carousel-caption"> 
                    <!-- d-none d-md-block -->
                    <h1></h1>
                    <h6><em></em></h6>
                  </div>
              </div>
              <div class="carousel-item">
                <!-- <img class="fit-h-img" src="/formulario-de-contacto/assets/images/img2.png" alt="img-2"> -->
                <img class="fit-h-img" width="100%" src="../../assets/images/GIRLSDAY.jpg" alt="img-2">
                <div class="carousel-caption">
                    <h1></h1>
                    <h6><em></em></h6>
                  </div>
              </div>
         
            </div>
                      
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
        </div>        

    </div>

    

    <div class="contents order-2 order-md-1">
        <div class="container">
          <br>
            <!-- <div class="position-relative m-4 ">
                <img class="position-absolute" src="/formulario-de-contacto/assets/images/grupopissa.png" alt="" width="25%" >
                <img class="position-absolute" src="/assets/images/grupopissa.png" alt="" width="25%" >
            </div> -->
            
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <h3>R E G I S T R O</h3>
                    <p class="mb-4" style="color:black">Compartenos tu información para guardar tu registro</p>
                
                    <div class="form-group first">
                        <label for="nombre">Nombre(s) </label>
                        <input type="text" class="form-control" placeholder="Nombre(s)" id="nombre" #nombre [(ngModel)]="CONTACT_DATA.nombre" required>
                    </div>
                    <div class="form-group last mb-3">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno" id="apellidoPaterno" #apellidoPaterno [(ngModel)]="CONTACT_DATA.apellidoPaterno" required>
                    </div>
                    <div class="form-group first">
                      <label for="apellidoMaterno">Apeliido Materno</label>
                      <input type="text" class="form-control" placeholder="Apellido Materno" id="apellidoMaterno" #apellidoMaterno [(ngModel)]="CONTACT_DATA.apellidoMaterno" required>
                    </div>
                    <div class="form-group last mb-3">
                      <label for="carrera">Carrera</label>
                      <input type="text" class="form-control" placeholder="Carrera" id="carrera" #carrera [(ngModel)]="CONTACT_DATA.carrera" required>
                    </div>
                    <div class="form-group first">
                      <label for="nombreInstitucion">Institución</label>
                      <input type="text" class="form-control" placeholder="Nombre de la institución de procedencia" id="nombreInstitucion" #nombreInstitucion [(ngModel)]="CONTACT_DATA.nombreInstitucion" required>
                    </div>
                    <div class="form-group last mb-3">
                      <label for="correo">Correo</label>
                      <input type="email" class="form-control" placeholder="Correo" id="correo" #correo [(ngModel)]="CONTACT_DATA.correo" required>
                    </div>
                    <div class="form-group first">
                      <label for="nivelEducativo">Nivel Educativo</label>
                      <select class="form-group" id="nivelEducativo" #nivelEducativo [(ngModel)]="CONTACT_DATA.nivelEducativo" required>
                        <option value="0">--Selecciona una opcion--</option>
                        <option value="SECUNDARIA">Secundaria</option>
                        <option value="BACHILLRATO">Bachillerato</option>
                        <option value="UNIVERSIDAD">Universidad</option>
                        <option value="EGRESADO">Egresado</option>
                      </select>
                      <!-- <input type="text" class="form-control" placeholder="Nivel Educativo" id="nivelEducativo" #nivelEducativo [(ngModel)]="CONTACT_DATA.nivelEducativo" required> -->
                    </div>
                    <div class="form-group first">
                      <label for="grado">Grado</label>
                      <select class="form-group" id="grado" #grado [(ngModel)]="CONTACT_DATA.grado" >
                        <option value="0">--Selecciona una opcion--</option>
                        <option value="PRIMERO">Primero</option>
                        <option value="SEGUNDO">Segundo</option>
                        <option value="TERCERO">Tercero</option>
                        <option value="CUARTO">Cuarto</option>
                        <option value="QUINTO">Quinto</option>
                        <option value="SEXTO">Sexto</option>
                      </select>
                      <!-- <input type="text" class="form-control" placeholder="Grado" id="grado" #grado [(ngModel)]="CONTACT_DATA.grado" required> -->
                    </div>
                                      
                    <!-- <div class="form-group last mb-3">
                        <label for="password">Teléfono</label>
                        <input type="text" class="form-control" placeholder="Teléfono a 10 dígitos" id="telefono" #telefono maxlength="10"
                            onkeypress="return isNumberKey(event)" [(ngModel)]="CONTACT_DATA.Telefono" >
                    </div> -->
                    <input type="button" value="Enviar" class="btn btn-block btn-primary" (click)="validarDatosContaco()">
                                
                </div>
                
            </div>            
        </div>
    </div>
  </div>
